<h4 mat-dialog-title [translate]="'modal.createIncomeTitle'"></h4>
<div mat-dialog-content>
  <form class="text-center" [formGroup]="incomeForm" (ngSubmit)="createIncome()">
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.name'" [translateParams]="{typeEN:'income', typeHU:'Bevétel'}"></span></mat-label>
      <input matInput formControlName="name">
      <mat-hint align="end"><span [translate]="'modal.hint.incomeName'"></span>
      </mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label [translate]="'modal.title.date'"></mat-label>
      <input matInput [matDatepicker]="dateDP" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="dateDP"></mat-datepicker-toggle>
      <mat-hint align="end"><span [translate]="'modal.hint.date'"
                                  [translateParams]="{typeEN:'income', typeHU:'Bevétel'}"></span>
      </mat-hint>
      <mat-datepicker #dateDP></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="newCategoryCheckbox"> <span [translate]="'modal.title.newCat'"></span>
    </mat-checkbox>
    <br>
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.category'"></span></mat-label>
      <input matInput formControlName="newCategory">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.existingCats'"></span></mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of availableCategories" [value]="cat.id">
          {{cat.title}}
        </mat-option>
      </mat-select>
      <mat-hint align="end"><span [translate]="'modal.hint.category'"
                                   [translateParams]="{typeEN:'income', typeHU:'Bevétel'}"></span>
        </mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.amount'"></span></mat-label>
      <input matInput formControlName="amount">
      <mat-hint align="end"><span [translate]="'modal.hint.amount'"
                                  [translateParams]="{typeEN:'income', typeHU:'Bevétel'}"></span></mat-hint>
      <mat-error *ngIf="incomeForm.hasError('pattern', 'amount')"> <span [translate]="'modal.error.numberFormatError'"></span>
      </mat-error>
    </mat-form-field>
    <br>

    <mat-dialog-actions>

      <button mat-raised-button color="primary" [disabled]="incomeForm.invalid" type="submit">
        <mat-icon>send</mat-icon>
      </button>
      <button type="button" mat-raised-button color="warn" mat-dialog-close aria-label="Cancel"
              (click)="onCancelClick()">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-dialog-actions>
  </form>
</div>

