<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#"><i class="fas fa-home"></i></a
  ></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          routerLink="/"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isUserLoggedIn()"
          class="nav-link waves-light"
          mdbWavesEffect
          routerLink="/payments"
          routerLinkActive="active"
          >Payment history</a
        >
        <!-- Dropdown -->
      </li>

      <li class="nav-item dropdown" dropdown>
        <a *ngIf="authService.isUserLoggedIn()"
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          User<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a routerLink="/home" class="dropdown-item waves-light" mdbWavesEffect href="#"
            >My profile</a
          >

          <div class="divider dropdown-divider"></div>
          <a routerLink="/logout" class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Logout</a
          >
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
