<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3" [translate]="'cashFlow.title'"></h2>
      <p>
        <span [translate]="'cashFlow.body1'"></span>
        <br>
        <span [translate]="'cashFlow.body2'"></span>
        <br>
        <span [translate]="'cashFlow.body3'"></span>
      </p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="createXls()">
          <span [translate]="'cashFlow.excel'"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="../../../assets/icons/specdate.png"
              alt="Card image cap"
            />
            <a (click)="toggleTable()">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" [translate]="'card.specificDateTitle'"></h4>
            <!-- Text -->
            <p class="card-text" [translate]="'card.specificDateBody'" [translateParams]="{typeEN: 'cashFlow', typeHU:'pénzmozgás'}">
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable()">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron" #dataTable>
    <div class="row" [hidden]="tableToggled">
      <h3 [translate]="'data.unopenedTable'"></h3>
    </div>
    <div class="row" [hidden]="!tableToggled">
      <div class="col-md-9">
        <mat-form-field>
          <mat-label><span [translate]="'data.nameFilter'"></span></mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let cashflow"> {{cashflow.id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.nameCol'"></span></th>
            <td mat-cell *matCellDef="let cashflow"> {{cashflow.name}} </td>
            <td mat-footer-cell *matFooterCellDef> <span [translate]="'data.total'"></span></td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> <span [translate]="'data.categoryCol'"></span></th>
            <td mat-cell *matCellDef="let cashflow"> {{cashflow.category.title}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.dateCol'"></span></th>
            <td mat-cell *matCellDef="let cashflow"> {{cashflow.date | date}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef [translate]="'data.amountCol'"></th>
            <td mat-cell *matCellDef="let cashflow"> {{cashflow.amount | currency:'HUF':'symbol':'1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'HUF':'symbol':'1.0-0'}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'minusIncome' : row.amount < 0, 'plusIncome' : row.amount > 0}"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-md-3">
        <h4 class="pie-header" [translate]="'data.pieChart'" [translateParams]="{typeEN: 'cashFlow', typeHU:'Pénzmozgás'}">
        </h4>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [colors]="pieChartColors"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>
</main>
