<h4 mat-dialog-title [translate]="'modal.specificDateTitle'"></h4>
<form class="text-center border border-light p-5" [formGroup]="dateForm" (ngSubmit)="setDate()">
  <mat-form-field appearance="outline">
    <mat-label><span [translate]="'modal.title.dateFrom'"></span></mat-label>
    <input matInput [matDatepicker]="dateFromDP" formControlName="dateFrom">
    <mat-datepicker-toggle matSuffix [for]="dateFromDP"></mat-datepicker-toggle>
    <mat-datepicker #dateFromDP></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label> <span [translate]="'modal.title.dateTo'"></span></mat-label>
    <input matInput [matDatepicker]="dateToDP" formControlName="dateTo">
    <mat-datepicker-toggle matSuffix [for]="dateToDP"></mat-datepicker-toggle>
    <mat-datepicker #dateToDP></mat-datepicker>
  </mat-form-field>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" [disabled]="dateForm.invalid" type="submit">
      <mat-icon>send</mat-icon>
    </button>
    <button type="button" mat-raised-button color="warn" mat-dialog-close aria-label="Cancel"
            (click)="onCancelClick()"><mat-icon>clear</mat-icon>
    </button>

  </mat-dialog-actions>
</form>

