<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3" [translate]="'savings.title'"></h2>
      <p>
        <span [translate]="'savings.body1'"></span>
        <br>
        <span [translate]="'savings.body2'"></span>
        <br>
        <span [translate]="'savings.body3'"></span>
        <br>
        <span [translate]="'savings.body4'"></span>
      </p>
      <div class="d-flex justify-content-center">
        <button mat-fab color="primary" (click)="addSaving()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let s of savings" class="jumbotron savingContainer">
      <div class="page-header">
        <h3>{{s.name}}</h3>
        <div class="savingState">
          <mat-icon *ngIf="s.done">done_outline</mat-icon>
          <mat-icon *ngIf="!s.done">priority_high</mat-icon>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-md-4"><h4 [translate]="'savings.about'"></h4>
          <p>{{s.description}}</p></div>
        <div class="col-md-2"><h4 [translate]="'savings.category'"></h4>
          <p>{{s.category.title}}</p></div>
        <div class="col-md-3"><h4 [translate]="'savings.date'"></h4>
          <p>{{s.dateFrom | date}} - {{s.dateTo | date}}</p></div>
        <div class="col-md-2"><h4 [translate]="'savings.amount'"></h4>
          <p>{{s.amount | currency:'HUF':'symbol':'1.0-0'}}</p></div>
        <div class="col-md-1">
          <button mat-icon-button (click)="editSaving(s)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSaving(s)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="changeSavingStatus(s)">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
