<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3">Your savings</h2>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="addSaving()">
          Add saving
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let s of savings" class="jumbotron">
      <div class="page-header">
        <h3>{{s.name}}</h3>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-md-4"><h4>Leírás</h4>
          <p>{{s.description}}</p></div>
        <div class="col-md-2"><h4>Kategória</h4>
          <p>{{s.category.title}}</p></div>
        <div class="col-md-3"><h4>Dátum tól-ig</h4>
          <p>{{s.dateFrom | date}} - {{s.dateTo | date}}</p></div>
        <div class="col-md-2"><h4>Összeg</h4>
          <p>{{s.amount}}</p></div>
        <div class="col-md-1">
          <button mat-icon-button (click)="editSaving(s)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSaving(s)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
