<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <h2 class="display-3" [translate]="'home.welcome'"></h2>
    <p>
      <span [translate]="'home.body1'"> </span>
      <br><span [translate]="'home.body2'"></span>
      <br><span [translate]="'home.body3'"></span>
    </p>
<!--    <p>-->
<!--      <button type="button" *ngIf="authService.isUserLoggedIn()" class="btn btn-primary">Add new spending</button>-->
<!--    </p>-->
  </div>
</div>
<div class="jumbotron" *ngIf="!authService.isUserLoggedIn()">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="../../../assets/icons/loginUser.png"
            alt="Card image cap"
          />
          <a (click)="openLoginModal()">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" [translate]="'home.loginCardTitle'"></h4>
          <!-- Text -->
          <p class="card-text" [translate]="'home.loginCardBody'">
          </p>
          <!-- Button -->
          <button (click)="openLoginModal()" mat-raised-button color="primary"> <span [translate]="'home.cardButton'"></span></button>
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="../../../assets/icons/newUser.png"
            alt="Card image cap"
          />
          <a (click)="openRegisterModal()">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" [translate]="'home.regCardTitle'"></h4>
          <!-- Text -->
          <p class="card-text" [translate]="'home.regCardBody'">
          </p>
          <!-- Button -->
          <button (click)="openRegisterModal()" mat-raised-button color="primary" ><span [translate]="'home.cardButton'"></span></button>
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
