<div class="jumbotron">
  <div class="container-fluid">
    <h2 class="display-3" i18n="home| page welcome">Welcome</h2>
    <p i18n="home| page body text">
      Have you ever wondered, where your hard earned money go? Was it always hard for you to keep track on your incomes and spendings?
      <br>Are you saving up for something, and want to keep track on that? Try this app!
      <br>It has all the features, a money tracker app must have, and very easy to use.
    </p>
<!--    <p>-->
<!--      <button type="button" *ngIf="authService.isUserLoggedIn()" class="btn btn-primary">Add new spending</button>-->
<!--    </p>-->
  </div>
</div>
<div class="jumbotron" *ngIf="!authService.isUserLoggedIn()">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="../../../assets/icons/loginUser.png"
            alt="Card image cap"
          />
          <a (click)="openLoginModal()">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" i18n="home| login card header text">Login</h4>
          <!-- Text -->
          <p class="card-text" i18n="home| login card body text">
            Log in here, if you already have an account.
          </p>
          <!-- Button -->
          <button (click)="openLoginModal()" mat-raised-button color="primary" i18n="home| login card button text">Take me there</button>
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="../../../assets/icons/newUser.png"
            alt="Card image cap"
          />
          <a (click)="openRegisterModal()">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" i18n="home| register card header text">Register</h4>
          <!-- Text -->
          <p class="card-text" i18n="home| register card body text">
            Don't have an account yet? Register here.
          </p>
          <!-- Button -->
          <button (click)="openRegisterModal()" mat-raised-button color="primary" i18n="home| register card button text">Take me there</button>
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
