<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" [translate]="'faq.q1'"></h4>
          <!-- Text -->
          <p class="card-text" [translate]="'faq.a1'">
          </p>
          <!-- Button -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" [translate]="'faq.q2'"></h4>
          <!-- Text -->
          <p class="card-text" [translate]="'faq.a2'">
          </p>
          <!-- Button -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title" [translate]="'faq.q3'"></h4>
          <!-- Text -->
          <p class="card-text" [translate]="'faq.a3'">
          </p>
          <!-- Button -->
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
