<h4 mat-dialog-title><span [translate]="'modal.registerTitle'"></span></h4>
<div mat-dialog-content>
  <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="tryRegister()">
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.uname'"></span></mat-label>
      <input matInput formControlName="username">
      <mat-hint> <span [translate]="'modal.hint.uname'"></span></mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'username')"> <span [translate]="'modal.error.required'"></span></mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'username')">
        <span [translate]="'modal.error.length'" [translateParams]="{min:minLength, max:maxLength}"></span>

      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.password'"></span></mat-label>
      <input matInput type="password" formControlName="password">
      <mat-hint><span [translate]="'modal.hint.password'"></span></mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'password')"><span [translate]="'modal.error.required'"></span></mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'username')">
        <span [translate]="'modal.error.length'" [translateParams]="{min:minLength, max:maxLength}"></span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label><span [translate]="'modal.title.retypePw'"></span></mat-label>
      <input matInput type="password" formControlName="retypePassword" [errorStateMatcher]="matcher">
      <mat-hint align="end"> <span [translate]="'modal.hint.retypePw'"></span></mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'password')"><span [translate]="'modal.error.required'"></span></mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'username')">
        <span [translate]="'modal.error.length'" [translateParams]="{min:minLength, max:maxLength}"></span>
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('notSame') && !registerForm.hasError('minlength', 'retypePassword')">
        <span [translate]="'modal.error.pwNotMatching'"></span>
      </mat-error>

    </mat-form-field>

    <p></p>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit">
        <mat-icon>send</mat-icon>
      </button>
      <button type="button" mat-raised-button color="warn" mat-dialog-close aria-label="Cancel"
              (click)="onCancelClick()">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-dialog-actions>
  </form>


  <div *ngIf="succesfullyRegistered" class="alert alert-success" role="alert">
    <h4 class="alert-heading" [translate]="'modal.regSuccess1'"></h4>
    <p [translate]="'modal.regSuccess2'"></p>
  </div>
  <div *ngIf="registrationError" class="alert alert-danger" role="alert">
    <h4 class="alert-heading" [translate]="'modal.loginError1'">Oops!</h4>
    <p [translate]="'modal.regError1'"></p>
    <hr>
    <p class="mb-0" [translate]="'modal.regError2'"></p>
  </div>
</div>

