<h4 mat-dialog-title i18n="registerModal| modal title">Create a new user</h4>
<div mat-dialog-content>
  <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="tryRegister()">
    <mat-form-field appearance="outline">
      <mat-label i18n="registerModal| uname field">User name</mat-label>
      <input matInput formControlName="username">
      <mat-hint align="end" i18n="registerModal| uname hint">Unique username</mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'username')" i18n="registerModal| required">Required field
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'username')" i18n="registerModal| length">Must be
        between {{minLength}} and {{maxLength}}
        characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="registerModal| pw field">Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-hint align="end" i18n="registerModal| pw hint">Strong password</mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'password')" i18n="registerModal| required">Required field</mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'password')" i18n="registerModal| length">Must be between {{minLength}} and {{maxLength}}
        characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="registerModal| pw retype field">Retype your password</mat-label>
      <input matInput type="password" formControlName="retypePassword" [errorStateMatcher]="matcher">
      <mat-hint align="end" i18n="registerModal| retype pw hint">Retype the same password</mat-hint>
      <mat-error *ngIf="registerForm.hasError('required', 'retypePassword')" i18n="registerModal| required">Required field</mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'retypePassword')" i18n="registerModal| length">Must be between {{minLength}}
        and {{maxLength}} characters
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('notSame') && !registerForm.hasError('minlength', 'retypePassword')" i18n="registerModal| pw not matching">
        Passwords not matching
      </mat-error>

    </mat-form-field>

    <p></p>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit">
        <mat-icon>send</mat-icon>
      </button>
      <button type="button" mat-raised-button color="warn" mat-dialog-close aria-label="Cancel"
              (click)="onCancelClick()">
        <mat-icon>clear</mat-icon>
      </button>

    </mat-dialog-actions>
  </form>


  <div *ngIf="succesfullyRegistered" class="alert alert-success" role="alert">
    <h4 class="alert-heading" i18n="registerModal| success reg title">Well done!</h4>
    <p i18n="registerModal| success reg body">You have succesfully registered.</p>
  </div>
  <div *ngIf="registrationError" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops!</h4>
    <p i18n="registerModal| error reg text1">Something went wrong during your registration process. You might try again with a different username.</p>
    <hr>
    <p class="mb-0" i18n="registerModal| error reg text2">If the error consists, try contacting one of our administrators.</p>
  </div>
</div>

