<div class="jumbotron" *ngIf="currentUser">
  <h4> <span [translate]="'profile.title'"></span>
    <br> <span [translate]="'profile.body'"></span>
  </h4>
  <br>
  <p [translate]="'profile.uname'" [translateParams]="{uname: currentUser.username}"></p>
  <p [translate]="'profile.yourCats'"></p>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div *ngFor="let c of currentUser.categories">
        <mat-card class="category-card">
          {{c.title}}
          <button mat-icon-button (click)="editCategory(c)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCategory(c.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <p [translate]="'profile.isEnabled'"></p>
          <mat-icon *ngIf="c.enabled">done_outline</mat-icon>
          <mat-icon *ngIf="!c.enabled">clear</mat-icon>
        </mat-card>
      </div>
    </div>
  </div>
</div>
