<h4 mat-dialog-title i18n="savingModal| modal title">Create a saving</h4>
<div mat-dialog-content>
  <form class="text-center" [formGroup]="savingForm" (ngSubmit)="createSaving()">
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| name field">Saving name</mat-label>
      <input matInput formControlName="name">
      <mat-hint align="end" i18n="savingModal| name hint">Unique name for what you are saving up for</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| desc field">Saving description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint align="end" i18n="savingModal| desc hint">Description of your saving</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| dateFrom field">Date From</mat-label>
      <input matInput [matDatepicker]="dateFromDP" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="dateFromDP"></mat-datepicker-toggle>
      <mat-hint align="end" i18n="savingModal| dateFrom hint">Start date of your saving</mat-hint>
      <mat-datepicker #dateFromDP></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| dateTo field">Date To</mat-label>
      <input matInput [matDatepicker]="dateToDP" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="dateToDP"></mat-datepicker-toggle>
      <mat-hint align="end" i18n="savingModal| dateTo hint">End date of your saving</mat-hint>
      <mat-datepicker #dateToDP></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| amt field">Amount</mat-label>
      <input matInput formControlName="amount">
      <mat-hint align="end" i18n="savingModal| amt hint">Amount of your saving</mat-hint>
      <mat-error *ngIf="savingForm.hasError('pattern', 'amount')" i18n="savingModal| amt regex error">Only numbers accepted</mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="newCategoryCheckbox" i18n="savingModal| new cat checkbox">Create new category</mat-checkbox>
    <br>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| cat field">Category</mat-label>
      <input matInput formControlName="newCategory">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n="savingModal| cat list dropdown">Existing categories</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of availableCategories" [value]="cat.id">
          {{cat.title}}
        </mat-option>
      </mat-select>
      <mat-hint align="end" i18n="savingModal| cat hint">Category of your spending</mat-hint>
    </mat-form-field>
    <br>

    <mat-dialog-actions>

      <button mat-raised-button color="primary" [disabled]="savingForm.invalid" type="submit">
        <mat-icon>send</mat-icon>
      </button>
      <button type="button" mat-raised-button color="warn" mat-dialog-close aria-label="Cancel"
              (click)="onCancelClick()"><mat-icon>clear</mat-icon>
      </button>

    </mat-dialog-actions>
  </form>
</div>

