.mat-form-field-appearance-outline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field-appearance-outline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}
