<main role="main" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3" [translate]="'spendings.title'"></h2>
      <p>
        <span [translate]="'spendings.body1'"></span>
        <br>
        <span [translate]="'spendings.body2'"></span>
        <br>
        <span [translate]="'spendings.body3'"></span>
        <br>
      </p>
      <h4 *ngIf="this.probableSpending && this.probableSpending > 0" [translate]="'spendings.willSpendMore'"
          [translateParams]="{amount: probableSpending}"></h4>
      <h4 *ngIf="this.probableSpending && this.probableSpending < 0" [translate]="'spendings.notGonnaSpend'"></h4>
      <div class="d-flex justify-content-center">
        <button mat-fab color="primary" (click)="newSpending()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="../../../assets/icons/specdate.png"
              alt="Card image cap"
            />
            <a (click)="toggleTable('specificDate')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" [translate]="'card.specificDateTitle'"></h4>
            <!-- Text -->
            <p class="card-text" [translate]="'card.specificDateBody'"
               [translateParams]="{typeEN: 'spendings', typeHU:'kiadások'}">
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('specificDate')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="../../../assets/icons/week.png"
              alt="Card image cap"
            />
            <a (click)="toggleTable('week')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" [translate]="'card.thisWeekTitle'"></h4>
            <!-- Text -->
            <p class="card-text" [translate]="'card.thisWeekBody'"
               [translateParams]="{typeEN: 'spendings', typeHU:'kiadások'}">
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('week')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="../../../assets/icons/month.png"
              alt="Card image cap"
            />
            <a (click)="toggleTable('month')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" [translate]="'card.thisMonthTitle'"></h4>
            <!-- Text -->
            <p class="card-text" [translate]="'card.thisMonthBody'"
               [translateParams]="{typeEN: 'spendings', typeHU:'kiadások'}">
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('month')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="../../../assets/icons/everything.png"
              alt="Card image cap"
            />
            <a (click)="toggleTable('all')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" [translate]="'card.allTimeTitle'"></h4>
            <!-- Text -->
            <p class="card-text" [translate]="'card.allTimeBody'"
               [translateParams]="{typeEN: 'spendings', typeHU:'kiadások'}">
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('all')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
  <div class="jumbotron" #dataTable>
    <div class="row" [hidden]="tableToggled">
      <h3 [translate]="'data.unopenedTable'"></h3>
    </div>
    <div class="row" [hidden]="!tableToggled">
      <div class="col-md-9">
        <mat-form-field>
          <mat-label><span [translate]="'data.nameFilter'"></span></mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="spendingId">
            <th mat-header-cell *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let spending"> {{spending.id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingName">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.nameCol'"></span></th>
            <td mat-cell *matCellDef="let spending"> {{spending.name}} </td>
            <td mat-footer-cell *matFooterCellDef><span [translate]="'data.total'"></span></td>
          </ng-container>
          <ng-container matColumnDef="spendingCategory">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.categoryCol'"></span></th>
            <td mat-cell *matCellDef="let spending"> {{spending.category.title}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingDate">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.dateCol'"></span></th>
            <td mat-cell *matCellDef="let spending"> {{spending.date | date}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingAmount">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.amountCol'"></span></th>
            <td mat-cell *matCellDef="let spending"> {{spending.amount | currency:'HUF':'symbol':'1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'HUF':'symbol':'1.0-0'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'data.actions'"></span></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="editSpending(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSpending(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-md-3" *ngIf="tableToggled">
        <h4 class="pie-header" [translate]="'data.pieChart'"
            [translateParams]="{typeEN:'spendings', typeHU:'kiadások'}">
        </h4>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [colors]="pieChartColors"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>
</main>
