<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3" i18n="spending| page header text">Your spending history</h2>
      <p i18n="spending| page body text">
        Here, you can save your spendings, and check them time to time.
        <br>
        You can list them by dates, edit them, delete them, etc..
        <br>
        There is even a pie chart on the right side of the datatable! Check that out!
        <br>
      </p>
      <h4 *ngIf="this.probableSpending && this.probableSpending > 0" i18n="spending| will spend more">Based on your previous month, you are going to spend {{probableSpending}} more money this month.</h4>
      <h4 *ngIf="this.probableSpending && this.probableSpending < 0" i18n="spending| not gona spend anymore">Based on your previous month, you are not going to spend any more money this month.</h4>
      <div class="d-flex justify-content-center">
        <button mat-fab color="primary" (click)="newSpending()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap"
            />
            <a (click)="toggleTable('specificDate')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" i18n="spending| date card title">Specify a date</h4>
            <!-- Text -->
            <p class="card-text" i18n="spending| date card body text">
              Take a quick look at your spendings between two dates.
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('specificDate')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap"
            />
            <a (click)="toggleTable('week')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" i18n="spending| this week card title">This week</h4>
            <!-- Text -->
            <p class="card-text" i18n="spending| this week card body text">
              Take a quick look at your spendings this week.
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('week')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap"
            />
            <a (click)="toggleTable('month')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" i18n="spending| this month card title">This month</h4>
            <!-- Text -->
            <p class="card-text" i18n="spending| this month card body">
              Take a quick look at your spendings this month.
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('month')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap"
            />
            <a (click)="toggleTable('all')">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" i18n="spending| all card title">Everything</h4>
            <!-- Text -->
            <p class="card-text" i18n="spending| all card body text">
              Take a quick look at your all-time spendings.
            </p>
            <!-- Button -->
            <button mat-raised-button color="primary"
                    (click)="toggleTable('all')">
              <mat-icon *ngIf="!tableToggled">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tableToggled">keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
  <div class="jumbotron" #dataTable>
    <div class="row" [hidden]="tableToggled">
      <h3 i18n="spending| placeholder text for unopened table">Select what to display.</h3>
    </div>
    <div class="row" [hidden]="!tableToggled">
      <div class="col-md-9">
        <mat-form-field>
          <mat-label i18n="nameFilter">Name filter</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="spendingId">
            <th mat-header-cell *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let spending"> {{spending.id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingName">
            <th mat-header-cell *matHeaderCellDef i18n="spending| name col text"> Name</th>
            <td mat-cell *matCellDef="let spending"> {{spending.name}} </td>
            <td mat-footer-cell *matFooterCellDef i18n="spending| total row text"> Total</td>
          </ng-container>
          <ng-container matColumnDef="spendingCategory">
            <th mat-header-cell *matHeaderCellDef i18n="spending| cat col text"> Category</th>
            <td mat-cell *matCellDef="let spending"> {{spending.category.title}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingDate">
            <th mat-header-cell *matHeaderCellDef i18n="spending| date col text"> Date</th>
            <td mat-cell *matCellDef="let spending"> {{spending.date | date}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="spendingAmount">
            <th mat-header-cell *matHeaderCellDef i18n="spending| amt col text"> Amount</th>
            <td mat-cell *matCellDef="let spending"> {{spending.amount | currency:'HUF':'symbol':'1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'HUF':'symbol':'1.0-0'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef i18n="spending| actions col text"> Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="editSpending(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSpending(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-md-3" *ngIf="tableToggled">
        <h4 class="pie-header" i18n="spending| pie chart text">Pie Chart for spendings by categories
        </h4>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [colors]="pieChartColors"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>
</main>
